body{
}

header{
    border: 1px solid red;
    text-align: center;
    margin-top: 1%;
}
nav{
    text-align: center;
    border: 1px solid purple;
    margin-top: 1%;
}
a{
    text-decoration: none;
    color: black;
}
button{
    margin-right:1%;
    border: 1px solid blue;
    border-radius: 8px;
}
.main{
    border: 1px solid yellow;
    background-image: url(/img/fondoP.jpg);
    height: 100vh;
    background-size: cover;
    color: white;
    background-position: center;
}
.main::before{
    content: "";
    position: absolute;
    inset: 0;
     background: rgba(0, 0, 0, 0.5);
     z-index: 0;
}
.main *{
    position: relative;
    z-index: 1;
}
.promo{
    margin-top: 2%;
    border: 1px solid red;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.promoimg{
    max-width: 40vw;
    max-height: 40vh;
    margin-right: 2%;
}
.promoh1{
    max-width: 30vw;
    border: 1px solid blue;
    font-size: 25px;
    text-align: center;
}