html {
    scroll-behavior: smooth;
}  
main{
    text-align: center;
    justify-content: center;
}
body{
    background-color: rgb(121, 104, 104);
}
.especial{
    position: fixed;
    font-size: 190%;
    bottom: 10%;
    right: 3%;
}
h1{
    text-align: center;
}
.menu1{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(3vh, auto);
}
.one{
    grid-column: 3 / 4; 
    grid-row: 1;
    background-color: rgb(158, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.two{
    grid-column: 4 / 5; 
    grid-row: 1;
    background-color:rgb(158, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.three{
    grid-column: 5 / 6;    
    grid-row: 1;
    background-color: rgb(158, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.four{
    grid-column: 6 / 7; 
    grid-row: 1;
    background-color: rgb(158, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.five{
    grid-column: 8 / 9;
    grid-row: 1;
    width: 5vw;
    background-color: rgb(219, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.main2{
    text-align: center;
    justify-content: center;
    margin-top: 5vh; 
    margin-bottom: 5vh;
}
.menu2{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(3vh, auto);

}
.one2{
    grid-column: 3 / 4; 
    grid-row: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.one2:hover{
    grid-column: 3 / 4; 
    grid-row: 1;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.two2{
    grid-column: 4 / 5; 
    grid-row: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two2:hover{
    grid-column: 4 / 5; 
    grid-row: 1;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.three2{
    grid-column: 5 / 6; 
    grid-row: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three2:hover{
    grid-column: 5 / 6; 
    grid-row: 1;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.four2{
    grid-column: 6 / 7; 
    grid-row: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four2:hover{
    grid-column: 6 / 7; 
    grid-row: 1;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.five2{
    grid-column: 7 / 8;
    grid-row: 1;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.five2:hover{
    grid-column: 7 / 8; 
    grid-row: 1;
    background-color: rgb(138, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
a{
    text-decoration: none;
    color: black;
    width: auto;
}
.imgtabla{
    height: 20vh;
    width: 10vw;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 1%;
}
.todosmenus{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(3vh, auto);
}
.table1{
    grid-column: 2 / 3; 
    grid-row: 2;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table2{
    grid-column: 3 / 4; 
    grid-row: 2;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table3{
    grid-column: 2 / 3; 
    grid-row: 4;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table4{
    grid-column: 3 / 4; 
    grid-row: 4;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table5{
    grid-column: 2 / 3; 
    grid-row: 6;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table6{
    grid-column: 3 / 4; 
    grid-row: 6;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table7{
    grid-column: 2 / 3; 
    grid-row: 8;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table8{
    grid-column: 3 / 4; 
    grid-row: 8;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table9{
    grid-column: 2 / 3; 
    grid-row: 10;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table10{
    grid-column: 3 / 4; 
    grid-row: 10;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1{
    grid-column: 1 / 5; 
    grid-row: 1;
    text-align: center;
    }
.titulo2{
    grid-column: 1 / 5; 
    grid-row: 3;
    text-align: center;
    }
.titulo3{
    grid-column: 1 / 5; 
    grid-row: 5;
    text-align: center;
    }
.titulo4{
    grid-column: 1 / 5; 
    grid-row: 7;
    text-align: center;
    }
.titulo5{
    grid-column: 1 / 5; 
    grid-row: 9;
    text-align: center;
    }    

footer{
    border: 1px solid blue;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    background-color: rgb(151, 148, 148);
}