body {
    background-color: rgb(144, 139, 139);
}

.header1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(2, auto);
}

.header{
    grid-column: 3 / 4;
    grid-row: 1;
    height: auto;
}
.logo1{
    grid-column: 5 / 6;
    grid-row: 1;
    height: 80px;
}

nav {
    text-align: center;
    margin-top: 1%;
}

a {
    text-decoration: none;
    color: rgb(251, 251, 251);
}

.main {
    background-image: url(/img/fondoP.jpg);
    height: auto;
    background-size: cover;
    color: white;
    padding: 5vh;
    background-position: center;
}

.main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.main * {
    position: relative;
    z-index: 1;
}

.promo {
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding-bottom: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.promoimg {
    max-width: 40vw;
    max-height: 40vh;
    margin-right: 2%;
}

.promoh1 {
    max-width: 30vw;
    font-size: 3vh;
    text-align: center;
    margin-right: 2%;
}

.menu {
    margin-right: 1%;
    border: 1px solid rgb(136, 136, 161);
    border-radius: 8px;
    width: 10vw;
    height: 3vh;
    background-color: rgb(70, 70, 70);

}

.menu23{
    display: inline-block;
    margin-right: 1%;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 2px;
    width: 80px;
    height: 3vh;
    background-color: rgb(155, 115, 115);
    place-content: center;
}

.menu:hover {
    background-color: rgb(167, 234, 249);
}

h1 {
    color: rgb(255, 255, 255);
}

.newsletter {
    height: 6vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

h2 {
    height: 5vh;
}

h3 {
    font-weight: 500;
    font-size: medium;
}

.destacados {
    background-color: grey;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    text-align: center;
}

.destacados2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}

.desh1 {
    text-align: center;
    margin: 0;
    padding: 1vh;
}

.carta {
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    width: 20vw;
    margin: 5vh;
    text-align: center;
    justify-content: center;
    padding: 1vh;
    background-color: rgb(117, 113, 113);
}

.imgcarta {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5%;
}

.imgcartamod1 {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    object-position: 50% 80%;
    border-radius: 5%;
}

.ulcarta {
    padding: 0;
    padding-bottom: 2vh;
    font-size: small;
}

.CTAcarta {
    height: auto;
    width: 20vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CTAbutton {
    justify-content: center;
    width: 5vw;
    height: 5vh;
    font-weight: 800;
    font-size: 85%;
}

.CTAbutton:hover {
    justify-content: center;
    width: 6vw;
    height: 6vh;
    font-weight: 800;
    font-size: 100%;
    background-color: rgb(244, 211, 211);
}

.destacados3 {
    width: 50%;
    display: flex;
}

footer {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    background-color: rgb(151, 148, 148);
}